$size-app-max-width: 800px;
$size-mobile-breakpoint: 700px;

$color-element-primary: #EB5440;
$color-element-secondary: #4A4B4C;
$color-tertiary-1: #E8E8E8;
$color-tertiary-2: #C3C3C3;
$color-bg-1: #F6F6F6;
$color-bg-2: #FFFFFF;

$color-text-primary: #000000;
$color-text-secondary: #4A4B4C;
$color-text-link: #067BC2;

$font-family-openSans:'Open Sans', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;

$transition: 15s ease-in-out;

